<nav class="navbar navbar-expand-md navbar-light p-4 p-lg-3 fixed-top">
    <div class="ml-2 logo" routerLink='/main/subscribe'>
        <!-- <h1>Oxi Fresh </h1> -->
        <img src="assets/images/logo.webp" width="120" alt="">
    </div>
    <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-nav w-100 d-flex justify-content-center p-2">
            <a href="javascript:void(0)" routerLink='subscribe' [routerLinkActive]="['active']" class="nav-item nav-link mx-2">Subscribe</a>
            <a href="javascript:void(0)" routerLink='subscription' [routerLinkActive]="['active']" class="nav-item nav-link mx-2">Subscription</a>
        </div>
        <div class="logout d-flex justify-content-end align-items-end">
        <div class="col-lg-6">
        <span class="mt-1"><i class="fa fa-user mb-2" aria-hidden="true"></i> {{user_name}}</span>
        </div>
        <div class="col-lg-6">
        <button class="btn btn-danger btn-logout " (click)="logout()">Logout</button>
        </div>
    </div>
    </div>

    
</nav>
